// Colors
$primary: #1c6758;
$secondary: #3d8361;
$beige: #d6cda4;
$white: #fff;
$black: #202020;
$light: #eef2e6;
$muted: #777;

// Spacer
$spacer: 1rem;

// Borders
$border: 1px solid #dbdbdb;
$radius: 1rem;

// fonts
$base_font: 1rem;
