* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,500,600,700,800,900);

html,
body {
  max-width: 100vw;
}

body {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

img {
  user-select: none;
  object-fit: contain;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}

button:focus {
  outline: none;
}
