@import "../../sass/index";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary;
  padding: 1rem 0;
  .row {
    @include space-between;
    .logo {
      a {
        color: $white;
      }
    }
  }
}
